.stock_wrapper {
    margin: 50px 40px 50px 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.stock-list {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.stock-item-list {
    display: flex;
    width: 850px;
    justify-content: space-around;
}
.stock_plus{
    font-size: 160px;
    font-weight: bold;
    position: absolute;
    left: 420px;
    top: -20px;
    color: wheat;
}
.stock_res{
    font-size: 160px;
    font-weight: bold;
    position: absolute;
    left: 830px;
    top: -22px;
    color: wheat;
}

.stock-total {
        height: 230px;
    width: 340px;
    background: white;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 120px;
    box-shadow: 0 0 20px rgba(50,226,92,0.5);
}

.stock-total p {
    font-size: 20px;
    line-height: 0.2;
    text-align: center;
}

.stock-total div {
    display: flex;
    font-size: 15px;
    width: 100%;
    justify-content: space-around;
}

.stock-total button {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background-color: #ff4747;
    outline: 0 !important;
    cursor: pointer;
}

.stock__old_price {
    color: grey;
}

.stock__old_price p:nth-child(2) {
    text-decoration: line-through;
}

.stock_total_image_wrapper{
    display: flex;
    width: 90%;
}
.stock_total_image{
    width: 90%;
    border-radius: 20px;
    height: 120px;

}
