/* .detail-photo-slider{
    height: 900px;
    width: 100%;
} */


.App {
    text-align: center;
    padding: 0;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
    position: absolute;
    top: 50%;
    z-index: 20;
}

.slick-slider {
    position: relative;
}

.slick-slider .slick-prev {
    left: 5% !important;
    z-index: 20;
}

.slick-slider .slick-next {
    right: 8% !important;
    z-index: 20;
}

.slick-prev:before,
.slick-next:before {
    color: whitesmoke !important;
}

@media screen and (max-width: 400px) {
    .photo_slider_image_container {
        height: 130px;
    }
    .slick-slider .slick-prev {
        left: 5% !important;
        z-index: 20;
    }
    
    .slick-slider .slick-next {
        right: 10% !important;
        z-index: 20;
    }
}