.fav_item_wrapper {
    width: 900px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    margin-left: 15%;
}

/* IMG */
.fav_item_wrapper .fav-product-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 15px;
    z-index: 1;
    margin-left: 20px;
}

.fav-item-description {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 150px;
    flex-direction: column;
    max-width: 550px;
    height: 140px;

    /* border: 1px solid red; */
}

.fav-item-description div span{
    line-height: 1.2;
}

.fav-item-description div h4 {
    font-size: 18px;
    color: blueviolet;
    font-style: italic;
    margin: 0;
    padding: 10px 0 10px 0;
}

.fav_item_wrapper div p {
    color: #FA8072;
    position: absolute;
    right: 25px;
    bottom: 0;
}