header {
  display: flex;
  justify-content: center;
  background: white;
  height: 110px;
  position: relative;
}

header button {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;

}

.header_name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.header_name button {
  padding: 0 0 8px 0 ;
}
.header_name div{
  color: #bcbabf;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header_description {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 0.6;
  letter-spacing: 0;  
}
.header_description p {
  letter-spacing: 1px;
}
.header_description p:nth-child(1){
  color: black;
}
.header_description p:nth-child(2){
text-transform: none;
}

.header_buttons {
  position: absolute;
  top: 15px;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  z-index: 10;
}
.header_buttons a {
    text-decoration:  none;
}

.header_buttons button {
  display: flex;
  align-items: center;
  padding: 1px;
  margin: 1px 5px 0 0;
  outline: none;
  height: 30px;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none !important;

}
.header_buttons button span:hover {
  color: #e62e04;
  text-decoration: none !important;
}

.header_buttons img {
  width: 25px;
  height: 20px;
}
