header {
  display: flex;
  justify-content: center;
  background: white;
  height: 110px;
  position: relative;
}

header button {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;

}
.header_logo{
  font-family: 'Dancing Script', cursive;
}
.header_logo_desc{
  font-family: 'Gotu', sans-serif;
}

.header_name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header_name button {
  padding: 0 0 8px 0;
}

.header_name div {
  color: #bcbabf;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header_description {
  position: absolute;
  top: 5px;
  left: 20px;
  line-height: 0.5;
  letter-spacing: 0;
  font-size: 17px;
  font-family: 'Playfair Display', serif;
}

.header_description p {
  letter-spacing: 2px;
  text-transform: none;
}

.header_description p:nth-child(1) {
  color: black;
}

.header_description p:nth-child(2) {
  text-transform: none;
}

.header_buttons {
  position: absolute;
  width: 252px;
  top: 15px;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  z-index: 10;
}

.header_buttons a {
  text-decoration: none;
}

.header_buttons button {
  display: flex;
  align-items: center;
  padding: 1px;
  margin: 1px 5px 0 0;
  outline: none;
  height: 30px;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none !important;
  position: relative;
}

.header_buttons button span:hover {
  color: #e62e04;
  text-decoration: none !important;
}

.header_buttons img {
  width: 25px;
  height: 20px;
}

.header_value{
  font-family: 'Baloo 2', cursive;
  position: absolute;
  display: inline-block;
  /* background: #cf171f; */
  background: #00FA9A;
  color: white;
  text-align: center;
  border-radius: 50%;  
  width: 20px;
  height: 20px;
  top: -8px;
  right: -15px;
}
.header_cart{
  background: #DA70D6;
}