.main__nav * {
    z-index: 100;
    margin: 0;
    padding: 0;
    font-family: 'Gelasio', 'Poppins', sans-serif;
}

.main__nav ul,
.main__nav ol {
    list-style: none;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.main__nav>ul {
    display: flex;
    background: #1C1C1C;
    justify-content: flex-start;
    /* border: 2px solid black; */
}

.main__nav>ul li {
    padding-left: 30px;
    position: relative;
    display: flex;
    text-align: center;
    padding-right: 15px;
    height: 50px;
}

.main__nav>ul li a {
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 12px 0 12px 35px;
    cursor: pointer;
}

.main__nav>ul li span {
    font-size: 18px;
}

.main__nav>ul li>img {
    position: absolute;
    width: 30px;
    padding-top: 12px;
}



.main__nav .main__nav__category {
    padding: 0 37px 0 11px;
    border-right: 2px solid black;
}

/* SubMenu */

.main__nav ul li ul {
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    min-width: 200px;
    top: 50px;
    left: -2px;
    display: none;
    /* border: 1px solid black; */
    text-align: center;
    background: white;
}

.main__nav li>ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    height: 36px;
}



.main__nav li ul li a {
    text-align: center;
    font-size: 20px;
    color: #717171;
}

.main__nav li ul li a:hover {
    color: #e62e40;
}

.main__nav li:hover>ul {
    display: block;
}

.main__nav li>ul li ul {
    position: absolute;
    left: 256px;
    left: 100%;
}

.main__nav li ul li ul {
    top: 0;
}

.main__nav li ul li ul li {
    height: 30px;
}

.main__nav li ul li ul li a {
    font-size: 16px;
}

.main__nav li ul li ul li a:hover {
    color: #e62e40;
}